HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Custom ###

### log ###
**/logs/*
**/error_logs/*

### yml, p8, md ###
**/src/main/resources/application-dev.yml
**/src/main/resources/application-local.yml
**/src/main/resources/*.md
**/src/main/resources/*.p8

application/src/main/resources/static

application-dev.yml
application-local.yml
application-test.yml
